## 1. Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

## 2. Load and Clean Data

In [2]:
# Load Excel data
df = pd.read_excel('Model Titles.xlsx', sheet_name='Model Data')

# Replace infinite values with NaN and drop rows with missing values
df = df.replace([np.inf, -np.inf], np.nan).dropna()

In [4]:
df

,Title,Studio,Genre,Days to Premium,Premium Rev,UK Box Office
0,BARBIE,WARNER BROS DISCOVERY,Drama/Comedy,52,12030879.00,1.262455e+08
1,DUNE: PART TWO,WARNER BROS DISCOVERY,PG-13 Action,45,9373622.00,5.223853e+07
2,WONKA,WARNER BROS DISCOVERY,PG-13 Action,45,8700146.00,8.363752e+07
3,THE SUPER MARIO BROS. MOVIE,UNIVERSAL,Animated Original,45,8022201.00,7.191417e+07
4,ELVIS (2022),WARNER BROS DISCOVERY,Drama/Comedy,45,7442316.00,3.665885e+07
...,...,...,...,...,...,...
74,BLINK TWICE,MGM,Drama/Comedy,31,227381.22,4.339380e+06
75,NIGHT SWIM,UNIVERSAL,Horror,31,217277.48,1.780888e+06
76,MAXXXINE,UNIVERSAL,Horror,45,135927.83,1.320135e+06
77,EMILY,WARNER BROS DISCOVERY,Drama/Comedy,31,116987.39,1.291658e+06
78,POLITE SOCIETY,UNIVERSAL,PG-13 Action,31,55287.28,6.576443e+05

## 3. Log-transform Relevant Columns

In [3]:
df['New Release Revenue'] = np.log(df['New Release Revenue'])
df['UK Box Office'] = np.log(df['UK Box Office'])
df['Days to Release'] = np.log(df['Days to Release'])

KeyError: 'New Release Revenue'

## 4. Quick Data Inspection

In [ ]:
print(df.head())
print(df.shape)
print(df.describe())
print(df.dtypes)

## 5. Visualise Relationships

In [ ]:
sns.pairplot(df, hue='Genre')
plt.show()

## 6. Prepare Data for Modelling

In [ ]:
# Select relevant columns
df2 = df[['Genre', 'Days to Release', 'New Release Revenue', 'UK Box Office']]

# Display correlation between revenue and box office
print(df2[['New Release Revenue', 'UK Box Office']].corr())

## 7. Feature Engineering

In [ ]:
# Define features and target
X = df2[['Genre', 'Days to Release', 'UK Box Office']]
X = pd.get_dummies(X, drop_first=True, dtype=int)
y = df2['New Release Revenue']

## 8. Train-Test Split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=10)

## 9. Fit Linear Regression Model

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

## 10. Model Summary

In [ ]:
print("Intercept:", model.intercept_)
coeff_parameter = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
print(coeff_parameter)

## 11. Predictions and Visualisation

In [ ]:
predictions = model.predict(X_test)

# Plot actual vs predicted values
sns.regplot(x=y_test, y=predictions)
plt.xlabel("Actual New Release Revenue")
plt.ylabel("Predicted New Release Revenue")
plt.title("Actual vs Predicted Revenue")
plt.show()

## 12. OLS Summary using Statsmodels

In [ ]:
X_train_sm = sm.add_constant(X_train)
ols_model = sm.OLS(y_train, X_train_sm).fit()
print(ols_model.summary())

## 13. Example Prediction

In [ ]:
# Create a test example for prediction
test_example = {
    'Days to Release': [np.log(45)],
    'UK Box Office': [np.log(5500000)],
    'Genre_1': [0],
    'Genre_2': [0],
    'Genre_3': [0],
    'Genre_4': [0],
    'Genre_5': [1]
}
dftest = pd.DataFrame(test_example)

# Predict and convert back from log scale
predicted_log = model.predict(dftest)
predicted_value = np.exp(predicted_log)
print("Predicted New Release Revenue:", predicted_value)